<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ems.dingdong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
<!--    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
<!--    <uses-permission android:name="android.permission.READ_CALL_LOG" />-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.ems.dingdong.app.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="com.tsongkha.spinnerdatepicker"
        tools:replace="android:icon">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="com.ems.dingdong.functions.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ems.dingdong.functions.mainhome.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.ems.dingdong.functions.mainhome.gomhang.listcommon.ListCommonActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.baophatkhongthanhcong.BaoPhatBangKhongThanhCongActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Actionbar"
            />
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.thongke.tabs.StatictisActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.baophatbangke.tabs.ListBaoPhatBangKeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ems.dingdong.functions.mainhome.callservice.CallActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ems.dingdong.functions.mainhome.location.LocationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Actionbar" />
        <activity
            android:name="com.ems.dingdong.functions.mainhome.profile.ProfileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ems.dingdong.notification.NotificationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <!--android:theme="@style/AppTheme_Actionbar"-->
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.baophatthanhcong.BaoPhatThanhCongActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            >
           <!-- <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.baophatoffline.BaoPhatOfflineActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
           >
           <!-- <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.gachno.TaoGachNoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            >
           <!-- <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>-->
        </activity>
        <!--android:theme="@style/AppTheme_Actionbar"-->
        <activity
            android:name="com.ems.dingdong.functions.mainhome.phathang.baophatbangke.create.CreateBd13Activity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:screenOrientation="portrait"
            >
           <!-- <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>-->
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDU5P_3XtqsqZMFSF9Ul_1gxsRVoVv0lKs" />

        <service android:name="com.ems.dingdong.fcm.DingDongFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ems.dingdong.fcm.DingDongFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

      <!--  <receiver android:name="com.ems.dingdong.calls.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>-->
        <service
            android:name="com.ems.dingdong.location.CheckLocationService"
            android:exported="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0cce76e3c35418e2833d7caeb11a76a15fc38dd0" />

        <activity android:name="com.ems.dingdong.fcm.NotificationActivity"></activity>

        <!-- Register library Activities -->
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />
    </application>

</manifest>